*.iml
*.hprof
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
.hotswan/
/app/src/localMapAssets/assets/basemap_routing.mmpk
/app/src/localMapAssets/assets/basemap.tpk
/.kotlin/errors/errors-1779193838540.log
